<div role="tabpanel">
  <div class="customer_list">
      <div class="row">
          <div class="col-ld-4 col-sm-6 col-lg-3">
              <div class="card">
                  <div class="card-img">
                      <img src="assets/img/customer1.jpg" alt="" class="img-responsive">
                  </div>
                  <h2>Poushali Sarkar</h2>
                  <h5>Total Business <span>$155.99</span></h5>
                  <h6>Last orders: <span>Jan 02, 2020</span></h6>
              </div>
          </div>
          <div class="col-ld-4 col-sm-6 col-lg-3">
              <div class="card">
                  <div class="card-img">
                      <img src="assets/img/customer1.jpg" alt="" class="img-responsive">
                  </div>
                  <h2>Poushali Sarkar</h2>
                  <h5>Total Business <span>$155.99</span></h5>
                  <h6>Last orders: <span>Jan 02, 2020</span></h6>
              </div>
          </div>
          <div class="col-ld-4 col-sm-6 col-lg-3">
              <div class="card">
                  <div class="card-img">
                      <img src="assets/img/customer1.jpg" alt="" class="img-responsive">
                  </div>
                  <h2>Poushali Sarkar</h2>
                  <h5>Total Business <span>$155.99</span></h5>
                  <h6>Last orders: <span>Jan 02, 2020</span></h6>
              </div>
          </div>
          <div class="col-ld-4 col-sm-6 col-lg-3">
              <div class="card">
                  <div class="card-img">
                      <img src="assets/img/customer1.jpg" alt="" class="img-responsive">
                  </div>
                  <h2>Poushali Sarkar</h2>
                  <h5>Total Business <span>$155.99</span></h5>
                  <h6>Last orders: <span>Jan 02, 2020</span></h6>
              </div>
          </div>
          <div class="col-ld-4 col-sm-6 col-lg-3">
              <div class="card">
                  <div class="card-img">
                      <img src="assets/img/customer1.jpg" alt="" class="img-responsive">
                  </div>
                  <h2>Poushali Sarkar</h2>
                  <h5>Total Business <span>$155.99</span></h5>
                  <h6>Last orders: <span>Jan 02, 2020</span></h6>
              </div>
          </div>
      </div>
  </div>
</div>