<div role="tabpanel">
  <div class="common_cont">
      <div class="orderView_sec">
          <div class="alert-msg" *ngIf="msg!=''">{{msg}}</div>
          <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                  <a href="#pending_order" aria-controls="pending_order" role="tab" data-toggle="tab">Pending Order</a>
              </li>
              <li role="presentation">
                  <a href="#order_history" aria-controls="order_history" role="tab" data-toggle="tab">Order History</a>
              </li>
          </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="pending_order">
                    <div class="pendingOrder_sec">
                        <div class="panel" *ngFor="let order of orders">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="pending_img">
                                                    <img src="assets/img/item_img1.jpg">
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h2>ID : {{order.format_order_id}}</h2>
                                                <h3>₹ {{order.net_price}}</h3>
                                                <div *ngIf="order.order_status=='new'">
                                                    <a href="javascript:void(0);" (click)="changeStatus('processing',order.order_id)" class="btn btn-primary">Accept</a>
                                                    <a href="javascript:void(0);" (click)="changeStatus('cancelled',order.order_id)" class="btn btn-default">Reject</a>
                                                </div>

                                                <div *ngIf="order.order_status=='processing'">
                                                    <a href="javascript:void(0);" (click)="changeStatus('ready_for_delivery',order.order_id)" class="btn btn-primary">Ready for Delivery</a>
                                                    <a href="javascript:void(0);" (click)="changeStatus('cancelled',order.order_id)" class="btn btn-default">Cancel</a>
                                                </div>

                                                <div *ngIf="order.order_status=='ready_for_delivery'">
                                                    <a href="javascript:void(0);" (click)="changeStatus('delivered',order.order_id)" class="btn btn-primary">Delivered</a>
                                                    <a href="javascript:void(0);" (click)="changeStatus('cancelled',order.order_id)" class="btn btn-default">Cancel</a>
                                                </div>

                                            </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="row">
                                          <div class="col-md-5">
                                              <div class="caption">
                                                  <ul class="list-unstyled clearfix">
                                                      <li>
                                                          <h6>Ordered by:</h6>
                                                          <h4>{{order.user_name}}</h4>
                                                          <p>{{order.customer_address}}</p>
                                                      </li>
                                                      <li>
                                                          <h6>Mob:</h6>
                                                          <h4>{{order.phone}}</h4>
                                                      </li>
                                                      <li>
                                                          <h6>Time & date</h6>
                                                          <h4>{{order.order_date}}</h4>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class="col-md-7" *ngIf="order_current_status==''">
                                            <h5>Order Status :&nbsp;<b style="text-transform: uppercase;">{{order.order_status}}</b></h5>
                                            <a href="javascript:void(0);" (click)="getOrderDetails(order.order_id)" data-toggle="modal" data-target="#detailsModal" class="btn btn-primary">Details</a>
                                          </div>
                                          <div class="col-md-7" *ngIf="order_current_status!=''">
                                            <h5>Order Status :&nbsp;<b style="text-transform: uppercase;">{{order_current_status}}</b></h5>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="order_history">
                  <div class="pendingOrder_sec">
                      <div class="sort_part">
                         <a href="#"><i class="material-icons">sort</i> Sort by date</a>
                      </div>
                      <div class="panel" *ngFor="let order of orders">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="pending_img">
                                                <img src="assets/img/item_img1.jpg">
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h2>ID : {{order.format_order_id}}</h2>
                                            <h3>₹ {{order.net_price}}</h3>
                                            <div *ngIf="order.order_status=='new'">
                                                <a href="javascript:void(0);" (click)="changeStatus('processing',order.order_id)" class="btn btn-primary">Accept</a>
                                                <a href="javascript:void(0);" (click)="changeStatus('cancelled',order.order_id)" class="btn btn-default">Reject</a>
                                            </div>

                                            <div *ngIf="order.order_status=='processing'">
                                                <a href="javascript:void(0);" (click)="changeStatus('ready_for_delivery',order.order_id)" class="btn btn-primary">Ready for Delivery</a>
                                                <a href="javascript:void(0);" (click)="changeStatus('cancelled',order.order_id)" class="btn btn-default">Cancel</a>
                                            </div>

                                            <div *ngIf="order.order_status=='ready_for_delivery'">
                                                <a href="javascript:void(0);" (click)="changeStatus('delivered',order.order_id)" class="btn btn-primary">Delivered</a>
                                                <a href="javascript:void(0);" (click)="changeStatus('cancelled',order.order_id)" class="btn btn-default">Cancel</a>
                                            </div>

                                        </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-5">
                                          <div class="caption">
                                              <ul class="list-unstyled clearfix">
                                                  <li>
                                                      <h6>Ordered by:</h6>
                                                      <h4>{{order.user_name}}</h4>
                                                      <p>{{order.customer_address}}</p>
                                                  </li>
                                                  <li>
                                                      <h6>Mob:</h6>
                                                      <h4>{{order.phone}}</h4>
                                                  </li>
                                                  <li>
                                                      <h6>Time & date</h6>
                                                      <h4>{{order.order_date}}</h4>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="col-md-7" *ngIf="order_current_status==''">
                                        <h5>Order Status :&nbsp;<b style="text-transform: uppercase;">{{order.order_status}}</b></h5>
                                        <a href="javascript:void(0);" (click)="getOrderDetails(order.order_id)" data-toggle="modal" data-target="#detailsModal" class="btn btn-primary">Details</a>
                                      </div>
                                      <div class="col-md-7" *ngIf="order_current_status!=''">
                                        <h5>Order Status :&nbsp;<b style="text-transform: uppercase;">{{order_current_status}}</b></h5>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- Default Size -->
<div class="modal" id="detailsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Order Details</h4>
            </div>
            <div class="modal-body">
                <div class="order-table">
					<table class="table">
						<thead>
							<tr>
								<th>Order number:</th>
								<th class="yellow-color" id="order-id">{{order_id}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Date</td>
								<td id="order-date">{{order_date}}</td>
							</tr>

							<tr>
								<td>Customer</td>
								<td id="customer-name">{{customer_name}}</td>
							</tr>

							<tr>
								<td>Customer Phone No</td>
								<td id="customer-phone">{{customer_phone}}</td>
							</tr>
							<!--<tr>
								<td>Special notes</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, totam.</td>
							</tr>-->
							<tr>
								<td>Item description</td>
								<td><h6>₹</h6></td>
							</tr>
							<tr>
								<td colspan="2">
									<table style="width:100%;text-align:left" [innerHtml]="item_description">
									</table>
								</td>
							</tr>
							<tr>
								<th class="border-dashed">Delivery Charge</th>
								<th class="border-dashed" id="delivery-charge">{{delivery_charge}}</th>
							</tr>
							<tr>
								<th class="border-dashed">TAX</th>
								<th class="border-dashed" id="tax-charge">{{tax_charge}}</th>
							</tr>
							<tr>
								<th class="yellow-color border-dashed">Total</th>
								<th class="yellow-color border-dashed" id="net-amount">{{net_amount}}</th>
							</tr>
							<tr>
								<th class="yellow-color border-dashed">Payment Method</th>
								<th class="yellow-color border-dashed" id="payment-method">{{payment_method}}</th>
							</tr>
						</tbody>

					</table>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>