@charset "utf-8";
/* CSS Document */
/*
@@@@ My Custome Stylesheet
*
*
    font-family: 'Montserrat', sans-serif;

    font-family: 'Raleway', sans-serif;

*
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900|Raleway:200,300,400,500,700,800,900&display=swap');

a, a:hover {
	text-decoration: none !important;
}
ul {
	margin-bottom: 0px !important;
}
li {
	list-style: none;
}
body {
	font-size: 14px;
	font-weight: 400;
	margin:0;
	color:#7c7c7c !important;
	font-family: 'Raleway', sans-serif !important;
}

/* ==== */
.sidebar .user-info .input-group {
    background: #EEF2F5;
    border-radius: 12px;
}
.sidebar .user-info .form-control{
	background: none;
	border: none !important;
	padding: 6px 12px;
	height: 42px;
}
.sidebar .user-info .btn-group{
	background: none;
	box-shadow: none;
	position: relative;
}
.sidebar .user-info .btn-group .btn + .btn{ margin-left: 10px;}
.sidebar .user-info .btn-group .btn{
	font: 600 12px/24px 'Montserrat', sans-serif;
	border-radius: 25px !important;
	padding: 8px 25px;
}
.sidebar .user-info .btn-group .btn:not(:first-child){
	color: #313131;
	border: 1px solid #ddd;
}
/* === */
.social_part{
	/* padding-bottom: 25px; */
}
.sidebar .mor_btn h6, .sidebar .close_btn h6{
	font: 700 14px/24px 'Montserrat', sans-serif;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	padding: 10px 15px;
	margin: 0;
}
.sidebar .mor_btn h6{ color: #C2C2C2;}
.sidebar .close_btn h6{	color: #333;}

.sidebar .mor_btn h6 span{
	font-size: 20px;
	margin-right: 12px;
}
.sidebar .close_btn h6 span{
	color: #ee9f1c;
	font-size: 28px;
	margin-right: 12px;
}
.sidebar .invite_chef{
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding: 30px 15px;
}
.sidebar .invite_chef p{
	color: #777;
	font: 300 12px/18px 'Montserrat', sans-serif;
}
.sidebar .invite_chef a {
    color: #1D6EAC !important;
    font: 300 12px/18px 'Montserrat', sans-serif;
    padding: 0px !important;
    display: inline-block !important;
}
.sidebar .menu h5{
	color: #000000;
	font: 700 14px/24px 'Montserrat', sans-serif;
	padding-bottom: 1.5rem;
	margin: 0px;
}
.sidebar .invite_chef .input-group{
	background: #EEF2F5;
	border-radius: 12px;
	margin: 0px;
	overflow: hidden;
}
.sidebar .invite_chef .input-group .form-control{
	color: #000;
	font: 400 14px/24px 'Montserrat', sans-serif;
	background: none;
    border: none !important;
	padding: 6px 12px;
	height: 42px;
}
.sidebar .invite_chef .input-group .input-group-addon{
	padding: 6px 12px;
	background: #1D6EAC;
}
.sidebar .invite_chef .material-icons{
	color: #FFF;
	font-size: 18px;
	line-height: 24px !important;
}
.invite_chef .form-control::-moz-placeholder{ color:#777; opacity:1;}
.invite_chef .form-control:-ms-input-placeholder{ color:#777; opacity:1;}
.invite_chef .form-control::-webkit-input-placeholder{ color:#777; opacity:1;}
/* ======= */

.sidebar .invite_part{ padding: 15px;}
.sidebar .invite_part{}
.sidebar .invite_part .media-object {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}
.sidebar .invite_part .media-object img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.sidebar .invite_part h6{
	color: #000000;
	font: 600 12px/20px 'Montserrat', sans-serif;
	margin: 0px;
}
.sidebar .invite_part p{
	color: #777;
	font: 400 12px/16px 'Montserrat', sans-serif;
	margin: 0;
}
.sidebar .invite_part .media-right a{
	color: #1D6EAC;
	font: 500 12px/16px 'Montserrat', sans-serif;
	padding: 0px;
}
/* ====== */

.sidebar .follow_chef{
	padding-left: 15px;
	padding-right: 15px;
}
#leftsidebar.sidebar .follow_chef .card-img{
	width: 44px;
	height: 44px;
	padding: 0px;
}

/* Header ====================================== */
#nav_bg {
	background: #FFF;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid #ddd;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0;
}
#nav_bg .navbar-header{ padding: 15px 7px;}
#nav_bg .navbar-header .navbar-brand{ display: none;}
#nav_bg .navbar-header .navbar-brand a{
	display: inline-block;
}
#nav_bg .navSrc_bar .input-group,
#nav_bg .navSrc_bar .input-group input{
	color: #000;
	font: 400 16px/24px 'Montserrat', sans-serif;
	border: none;
	margin: 0px;
}
/* ==== */
.navSrc_bar .form-control::-moz-placeholder{ color:#777; opacity:1;}
.navSrc_bar .form-control:-ms-input-placeholder{ color:#777; opacity:1;}
.navSrc_bar .form-control::-webkit-input-placeholder{ color:#777; opacity:1;}
/* ==== */
#nav_bg .input-group-addon{
	color: #777;
	font-size: 20px;
}
#nav_bg .navbar-right .media_src{
	display: none;
}
#nav_bg .balance_part {
    border-right: 1px solid #ddd;
    padding-right: 12px;
}
#nav_bg .balance_part h6{
	color: #000;
	font: 700 14px/18px 'Montserrat', sans-serif;
	margin: 0;
}
#nav_bg .balance_part h6 span{
	color: #ccc;
	font-size: 10px;
	font-weight: 400;
	display: block;
}
#nav_bg .userWlc_btn{}
#nav_bg .userWlc_btn h6{
	color: #1D6EAC;
	font: 500 14px/18px 'Montserrat', sans-serif;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	margin: 0;
}
#nav_bg .userWlc_btn h6 span {
    padding-right: 5px;
    margin-top: -5px;
}
#nav_bg .navbar-nav { padding: 15px 0;}
#nav_bg .navbar-nav > li > a {
	color: #777;
	font-size: 20px;
	background: none;
	padding: 5px 10px;
	margin: 0;
}
#nav_bg .label-count {
	color: #FFF;
	position: absolute;
	top: 0px;
	right: 5px;
	font-size: 10px;
	line-height: 15px;
	background-color: #000;
	padding: 0 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
#nav_bg.navbar .navbar-toggle {
	text-decoration: none;
	color: #000;
	width: 20px;
	height: 20px;
	margin-top: -12px;
	margin-right: 20px;
  }
/*! === // NAV:: End Menu & Logo Part // === !*/

.sidebar_right{
	padding: 15px;
	position: relative;
}
.add_sec{
	border-radius: 6px;
	margin-bottom: 1.5rem;
	overflow: hidden;
}
.follow_chef{}
.follow_chef h2{
	color: #000;
	font: 500 14px/24px 'Montserrat', sans-serif;
	margin-bottom: 2.5rem;
}
.follow_chef h2 a{
	color: #1D6EAA;
	font-size: 12px;
	text-decoration: underline !important;
}
.follow_chef li{}
.follow_chef .card-img{
	width: 54px;
	height: 54px;
	border-radius: 50%;
	margin: 5px;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	overflow: hidden;
}
.follow_chef .card-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: auto;
}
/*! === // SIDEBAR:: End Right side // === !*/

.common_menu{}
.common_menu .nav-tabs > li:not(:last-child){ margin-right: 30px;}
.common_menu .nav-tabs > li a {
    color: #000;
    font: 500 14px/24px 'Montserrat', sans-serif;
    padding: 10px 15px 15px;
}
/*! === // SECTION:: End Common Tab Menu  // === !*/

.common_wrap {}
.common_wrap .common_cont > .row{ margin: 0;}
.common_wrap .common_cont > .row > [class*="col-"]{ padding: 0px;}
.common_wrap .common_cont > .row > [class*="col-"]:not(:first-child)::before{
	position: absolute;
	top: 0;
	left: 0px;
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: #ddd;
}
.common_cont{
	/* border-right: 1px solid #ddd; */
}
/* ==== */
.home_sec{
	background: #fdfdfd;
	padding: 35px;
}
.home_sec .panel{
	-webkit-box-shadow: 0 0px 10px 1px rgba(0,0,0,.05);
	box-shadow: 0 0px 10px 1px rgba(0,0,0,.05);
	position: relative;
}
.home_sec .media-object{
    width: 54px;
    height: 54px;
	border-radius: 50%;
	overflow: hidden;
}
.home_sec .media-object img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.home_sec .more_field{
	position: absolute;
	right: 15px;
	z-index: 1;
}
.more_field > a{
	color: #000;
}
.more_field .dropdown-menu{
	padding: 0px;
}
.more_field .dropdown-menu > li > a{
	color: #202841;
	font: 400 12px/20px 'Raleway', sans-serif;
	padding: 5px 15px;
}
.more_field .dropdown-menu > li > a i{
	font-size: 12px;
	line-height: 20px;
	margin-right: 10px;
}
.more_field .dropdown-menu li:hover{
	-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
	-moz-transition: transform 0.5s ease-in-out;
-webkit-transition: transform 0.5s ease-in-out;
-o-transition: transform 0.5s ease-in-out;
-ms-transition: transform 0.5s ease-in-out;
transition: transform 0.5s ease-in-out;
}
.more_field .dropdown-menu li:hover a{
	color: #FFF;
	background: #2592fb;
	border-radius: 2px;
	-moz-transform: scale(1);
-webkit-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
	-moz-transition: transform 0.5s ease-in-out;
-webkit-transition: transform 0.5s ease-in-out;
-o-transition: transform 0.5s ease-in-out;
-ms-transition: transform 0.5s ease-in-out;
transition: transform 0.5s ease-in-out;
}
.home_sec h2{
	color: #202841;
	font: 400 18px/20px 'Montserrat', sans-serif;
	margin-top: 0;
}
.home_sec h2 span{
	font-size: 12px;
}
.home_sec h6{
	font-size: 12px;
	color: #919EAB;
}
.home_sec p{
	color: #202841;
	font: 400 14px/22px 'Montserrat', sans-serif;
}
.home_sec .card-img{
	border-radius: 10px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	overflow: hidden;
}
/* ===== */
.review_coment {
	padding: 15px 0;
}
.comment_meta li:not(:last-child) {
    margin-right: .8rem;
}
.comment_meta a {
    color: #202841;
    font: 500 14px/20px 'Montserrat', sans-serif;
}
.comment_meta a span{
	padding-bottom: 2rem;
}
/* ===== */
.comment_field{ position: relative;}
.comment_field .input-group {
    background: #fdfdfe;
    border: 1px solid #EDF1F6;
    border-radius: 25px;
    padding: 8px 12px;
	margin: 0;
	position: static;
}
.comment_field .custom_file {
	width: 34px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.comment_field .custom-file-input {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
    cursor: pointer;
}
.comment_field .smile_field {
    position: absolute;
    right: 15px;
	top: 30%;
	z-index: 1;
}
.smile_field > a, .custom_file .material-icons{
	color: #B9BFCA !important;
	font-size: 18px;
}
.comment_field .form-control{
	color: #202841;
    font: 400 14px/20px 'Montserrat', sans-serif;
}
.comment_field .form-control::-moz-placeholder{ color:#707070; opacity:1;}
.comment_field .form-control:-ms-input-placeholder{ color:#707070; opacity:1;}
.comment_field .form-control::-webkit-input-placeholder{ color:#707070; opacity:1;}
/*! === // SECTION:: End Home page design  // === !*/

.profile_sec{
	background: #FFF;
	padding: 35px;
}
.profile_sec .imgUp_sec{
	padding-bottom: 2rem;
}
.imgUp_sec .panel {
    background: #fff url(/assets/img/upload_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #d7d7d7;
    width: 100%;
    height: 200px;
	border-radius: 12px;
	overflow: hidden;
    position: relative;
}
.imgUp_sec .box {
	position: relative;
	top: 0;
	left: 0;
    width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.imgUp_sec input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}
/* == */
.profDetail_sec{}
.profDetail_sec > .row{
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 0px;
}
.profDetail_sec h2{
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #000;
	font: 700 22px/24px 'Montserrat', sans-serif;
	max-width: 200px;
	margin-top: 0;
}
.profDetail_sec ul{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-start;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
}
.profDetail_sec ul li{ padding: 0 2px;}
.profDetail_sec ul li a{ display: block;}
.profDetail_sec h6{
	color: #000;
	font: 500 14px/24px 'Montserrat', sans-serif;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-start;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
	padding-right: 10px;
	margin: 0;
}
.profDetail_sec h6 i{ margin-right: 5px;}
.profDetail_sec .rate_part h6 .fa{
	color: #FFAA00;
	font-size: 18px;
}
.profDetail_sec .rate_part h6 span{
	color: #ccc;
	font-size: 12px;
	padding-left: 5px;
}
.profDetail_sec .about_part{ padding-top: 2rem;}
.profDetail_sec .about_part a{
	color: #000;
	font: 500 14px/24px 'Montserrat', sans-serif;
	display: inline-block;
	padding-bottom: 1rem;
}
.profDetail_sec .about_part p{
	color: #777;
	font: 300 12px/20px 'Montserrat', sans-serif;
}
/*! === // SECTION:: End Profile page design  // === !*/

.foodItem_list{
	background: #FFF;
	padding: 35px;
}
.foodItem_list .order_list > .row{
	margin-left: -10px;
	margin-right: -10px;
}
.foodItem_list .order_list > .row > [class*="col-"]{
	padding-left: 10px;
	padding-right: 10px;
}
.order_list .card {
	border: none;
	box-shadow: none;
    border-radius: 0px;
    margin-bottom: 2.5rem;
}
.order_list .card-img {
	background: #000;
    height: 150px;
    border-radius: 0px;
    overflow: hidden;
    margin-bottom: 1.3rem;
}
.order_list .card-img img {
    height: 100%;
    -o-object-fit: cover;
	object-fit: cover;
	-moz-transition: opacity 0.5s ease-in-out;
-webkit-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
.order_list .card-img:hover img{
	opacity: 0.5;
	-moz-transition: opacity 0.5s ease-in-out;
-webkit-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
.order_list .card h3 {
    color: #2e2929;
    font: 500 14px/24px 'Montserrat', sans-serif;
    margin: 0;
}
.rating_meta {
    padding-bottom: 5px;
}
.rating_meta a {
    color: #ffaa00 !important;
    font-size: 12px;
    display: inline-block;
    padding-right: 5px;
}
.rating_meta span {
    color: #2e2929;
    font: 400 12px/18px 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.order_list .card h6 {
    color: #abaaaa;
	font: 400 12px/16px 'Montserrat', sans-serif;
	margin-top: 0px;
}
.order_list .card h6 span {
    color: #60b246;
	font-size: 14px;
	text-transform: uppercase;
    margin-left: 5px;
}
.order_list .card-footer {
	padding-top: 20px;
}
.order_list .card-footer .btn{
	font: 600 12px/20px 'Montserrat', sans-serif;
	text-transform: uppercase;
	border-radius: 0px;
	box-shadow: none;
}
.order_list .card-footer .btn-link {
    color: #2e2929;
    text-decoration: underline !important;
    padding: 0px;
}
.order_list .card-footer .btn-secondary {
    color: #181818;
    background: #ebebeb;
    border-color: #ebebeb;
}
.order_list .card-footer .fa {
    font-size: 12px !important;
    top: 0 !important;
}
/* ===== */

.cartCheck_bar{}
.cartCheck_bar .card {
    background-color: #fff;
	background-clip: border-box;
	word-wrap: break-word;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: none;
	border-radius: 0px;
	padding: 1.25rem;
}
.cartCheck_bar h2{
	color:#2e2929;
	font: 700 28px/28px 'Montserrat', sans-serif;
	margin-top: 0px;
}
.cartCheck_bar p{
	color: #777777;
	font: 300 10px/14px 'Montserrat', sans-serif;
	margin: 0px;
}
.cartCheck_bar h6{
	color: #414140;
	font: 500 14px/24px 'Montserrat', sans-serif;
	padding-bottom: 5px;
	margin: 0;
}
.add_cart label{
	color: #414140;
	font: 600 12px/22px 'Montserrat', sans-serif;
	position: relative;
}
.add_cart .custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}
.add_cart .custom-control-label::before{
	position: absolute;
	top: 5px;
	left: 0;
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 0px !important;
	border: 1px solid #60b246;
}
.add_cart .custom-control-label::after{
	width: 12px;
	height: 12px;
	top: 2px;
	left: 2px;
	position: absolute;
	opacity: 0;
}
.add_cart .custom-control-input:checked ~ .custom-control-label::before{
	top: 5px;
	left: 0;
	width: 12px;
	height: 12px;
	border: 1px solid #60b246;
}
.add_cart .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
	background: none;
	content: "\f111";
	font-family:'FontAwesome';
	color: #60b246;
	font-size: 7px;
	line-height: 20px;
	opacity: 1;
}
.add_cart .btn-minus{
	cursor:pointer;
	display:flex;
	align-items:center;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #ccc;
	border-radius:0px;
	border-right:0;
}
.add_cart .btn-plus{
	cursor:pointer;
	display:flex;
	align-items:center;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #ccc;
	border-radius:0px;
	border-left:0;
}
.add_cart .btn-plus .fa, .add_cart .btn-minus .fa{ font-size:12px;}
.add_cart .addQty_btn > div {
	width:100%;
	display:inline-flex;
	margin: 0px;
}
.add_cart .addQty_btn input{
	text-align:center;
	border: 1px solid #ced4da;
	padding: .375rem .75rem;
	max-width: 150px;
	height: auto;
}
.add_cart .input-group-text{
	color: #414140;
	font: normal 14px/20px 'Montserrat', sans-serif;
	background: none;
	border: none;
	border-radius: 0px;
	padding: 0px;
	margin-left: 10px;
}
.addCart_total{}
.addCart_total .table td{
	border: none;
	padding: .75rem 0;
}
.addCart_total h5{
	color: #2e2929;
	font: 700 14px/24px 'Montserrat', sans-serif;
	margin: 0px;

}
.addCart_total .del{ color: #6c757d; padding-right: 5px;}
.cartCheck_bar .card .btn{
	color: #FFF;
	font: 700 16px/24px 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 0px;
	box-shadow: none;
	display: block;
}
.cartCheck_bar .card .btn .lnr{ top: 0;}


/*! === // SECTION:: End Profile Food Items  // === !*/

.foodItem_sec{
    padding: 35px;
}
.foodItem_sec > .row > [class^="col-"]{
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.foodItem_sec h2{
	color: #000;
	font: 700 28px/32px 'Montserrat', sans-serif;
	padding-bottom: 3rem;
	margin: 0;
}
.foodItem_sec .thumbnail{
	border: none;
	border-radius: 0px;
}
.foodItem_sec .card-img{
	width: 100%;
	height: 140px;
	background: #000;
	margin-bottom: 1rem;
	overflow: hidden;
	position: relative;
}
.foodItem_sec .card-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	-moz-transition: opacity 0.5s ease-in-out, filter 0.5s ease;
-webkit-transition: opacity 0.5s ease-in-out, filter 0.5s ease;
-o-transition: opacity 0.5s ease-in-out, filter 0.5s ease;
-ms-transition: opacity 0.5s ease-in-out, filter 0.5s ease;
transition: opacity 0.5s ease-in-out, filter 0.5s ease;
}
.foodItem_sec .card-img .view_btn{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
	-moz-transform: translate3d(-100%,0,0);
-webkit-transform: translate3d(-100%,0,0);
-o-transform: translate3d(-100%,0,0);
-ms-transform: translate3d(-100%,0,0);
transform: translate3d(-100%,0,0);
animation: anim-out-layer .3s ease-out;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
	-moz-transition: transform 0.5s ease-in-out;
-webkit-transition: transform 0.5s ease-in-out;
-o-transition: transform 0.5s ease-in-out;
-ms-transition: transform 0.5s ease-in-out;
transition: transform 0.5s ease-in-out;
}
.foodItem_sec .card-img .view_btn .btn{
	color: #FFF;
	font: 500 12px/16px 'Montserrat', sans-serif;
	text-transform: uppercase;
	background: none !important;
	border: 1px solid#FFF;
	border-radius: 0px;
}
.foodItem_sec .thumbnail:hover .card-img img{
	opacity: 0.8;
	filter: blur(4px);
  -webkit-filter: blur(4px);
	-moz-transition: opacity 0.5s ease-in-out, filter 0.5s ease;
-webkit-transition: opacity 0.5s ease-in-out, filter 0.5s ease;
-o-transition: opacity 0.5s ease-in-out, filter 0.5s ease;
-ms-transition: opacity 0.5s ease-in-out, filter 0.5s ease;
transition: opacity 0.5s ease-in-out, filter 0.5s ease;
}
.foodItem_sec .thumbnail:hover .card-img .view_btn{
	animation: anim-in-layer .3s ease forwards;
}
@keyframes anim-in-layer{0%{transform:translate3d(-100%,0,0)}to{transform:translateZ(0)}}
@keyframes anim-out-layer{0%{transform:translateZ(0)}to{transform:translate3d(100%,0,0)}}
@keyframes anim-in-text{0%{transform:translate3d(100%,0,0)}to{transform:translateZ(0)}}
@keyframes anim-out-text{0%{transform:translateZ(0)}to{transform:translate3d(-100%,0,0)}}
.foodItem_sec h3{
	color: #828282;
	font: 500 12px/24px 'Montserrat', sans-serif;
	margin: 0;
}
.foodItem_sec h3 span{
	color: #000000;
}
.foodItem_sec a{
	color: #1D6EAC;
	font: 500 14px/24px 'Montserrat', sans-serif;
}
.foodItem_sec .card{
	border: 1px solid #ccc;
	padding: 15px;
	min-height: 140px;
	box-shadow: none;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
	text-align: center;
}
.foodItem_sec .card a{
	color: #858585;
	font-size: 12px;
	line-height: 12px;
	font-weight: 300;
}
.foodItem_sec .card span{
	display: block;
}
#dishModal{}
/*! === // SECTION:: End Food items page design  // === !*/

.orderView_sec{
	background: #FFF;
	padding: 35px;
}
.orderView_sec .nav-tabs{
	border: none;
}
.orderView_sec .nav-tabs > li:not(:last-child){ margin-right: 30px;}
.orderView_sec .nav-tabs > li > a{
	color: #bcbcbc;
	font: 500 14px/24px 'Montserrat', sans-serif;
	padding: 0 0px 15px;
}
.orderView_sec .nav-tabs > li > a::before{
	width: 55px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.pendingOrder_sec{}
.pendingOrder_sec .panel{
	border: 1px solid #efefef;
}
.pendingOrder_sec .media{ border-right: 1px solid #ccc;}
.pendingOrder_sec .media, .pendingOrder_sec .media-body{
	overflow: visible;
	margin: 0px;
}
.pending_img{
	width: 120px;
	height: 120px;
	margin-right: 5px;
	overflow: hidden;
}
.pending_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.pendingOrder_sec .media h2{
	color: #000000;
	font: 500 18px/24px 'Montserrat', sans-serif;
	margin-top: 0px;
}
.pendingOrder_sec .media h3{
	color: #000000;
	font: 500 18px/24px 'Montserrat', sans-serif;
	margin-top: 0px;
}
.pendingOrder_sec .media .btn{
	font: 500 10px/14px 'Montserrat', sans-serif !important;
	border-radius: 25px !important;
	box-shadow: none !important;
	padding: 8px 25px;
}
.pendingOrder_sec .media .btn-default{ border: 1px solid #e5e5e5;}
.pendingOrder_sec .caption li + li{ margin-top: 5px;}
.pendingOrder_sec .caption h6, .pendingOrder_sec .caption p{
	color: #858585;
	font: 400 10px/14px 'Montserrat', sans-serif !important;
	margin: 0px;
}
.pendingOrder_sec .caption h4{
	color: #000;
	font: 600 12px/18px 'Montserrat', sans-serif !important;
	margin: 0px;
}
.pendingOrder_sec h5{
	color: #828282;
	font: 500 12px/18px 'Montserrat', sans-serif !important;
	margin: 45px 0;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pendingOrder_sec h5 .btn {
	color: #000;
	font: 500 12px/18px 'Montserrat', sans-serif !important;
	text-align: left;
    background: #f5f5f5;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    width: 165px;
    margin-left: 5px;
}
.pendingOrder_sec h5 span{
	color: #000000;
	font-size: 20px;
	margin-left: 5px;
}
.sort_part{
	display: block;
	padding-bottom: 25px;
}
.sort_part a{
	color: #bcbcbc !important;
	font: 400 14px/18px 'Montserrat', sans-serif;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sort_part i{
	color: #000000;
	font-size: 24px;
	margin-right: 10px;
}
/*! === // SECTION:: End View orders page design  // === !*/

.customer_list{
	background: #FFF;
	padding: 35px;
}
.customer_list .card{
	border: none;
	border-radius: 0px;
	box-shadow: none !important;
}
.customer_list .card-img{
	height: 150px;
	overflow: hidden;
}
.customer_list .card-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.customer_list h2{
	color: #000;
	font: 600 18px/24px 'Montserrat', sans-serif;
}
.customer_list h5{
	color: #828282;
	font: 500 14px/18px 'Montserrat', sans-serif;
}
.customer_list h5 span {
    color: #000;
    font-size: 12px;
    background: #f5f5f5;
    border-radius: 15px !important;
    padding: 5px 25px;
    margin-left: 10px;
}
.customer_list h6{
	color: #828282;
	font: 500 14px/18px 'Montserrat', sans-serif;
	margin: 0;
}
.customer_list h6 span{
	color: #000;
	margin-left: 10px;
}
/*! === // SECTION:: End Customers page design  // === !*/

.reviews_sec{
	background: #FFF;
	padding: 35px;
}
.reviews_sec h2 {
    color: #000000;
    font: 600 28px/32px 'Montserrat', sans-serif;
    padding-bottom: 2.5rem;
    margin: 0px;
}
.review_part{
  position: relative;
}
.review_part .rating-block h3{
	color: #24323B;
	font: 700 54px/normal 'Montserrat', sans-serif;
	margin: 0;
}
.review_part .rating-block h6{
	color: #5B5B5B;
	font: 600 14px/24px 'Montserrat', sans-serif;
	margin-top: 0;
}
.review_part .rating-block .review-block-rate a{
	font-size: 24px;
}
.review_part .rating-block .review_rang{
	padding: 15px 0;
}
/* ==== */

.review_part .review-block{
	position: relative;
}
.review_part .review-block::before{
	position: absolute;
	top: 0;
	left: -30px;
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: #ccc;
}
.review_part .review-block h4{
	color: #5B5B5B;
	font: 600 18px/24px 'Montserrat', sans-serif;
	padding-bottom: 2.5rem;
	margin: 0;
}
.review_part .review-block-rate li:not(:last-child){ margin-right: .3rem;}
.review_part .review-block-rate li{
  border: none;
  padding: 0px;
}
.review_part .review-block-rate a{
  color: #ffc107;
  font-size: 14px;
}
.review_part .review-block-title{
	color: #5B5B5B;
	font: 600 16px/24px 'Montserrat', sans-serif;
	padding: 5px 0 10px;
}
.review_part .review-block-date{
	font-size:12px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	padding-left: 5px;
}
.review_part .review-block-rate{
	font-size:12px;
}
.review_part .review-block-description p{
	font-size: 14px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
.review_part .review-block-description a{
	color: #3D55F2;
	font: 600 12px/20px 'Montserrat', sans-serif;
}
.load_btn{
	display: block;
	padding-top: 25px;
}
.load_btn .btn{
	color: #FFF;
	font: 500 12px/24px 'Montserrat', sans-serif;
	background: #1D6EAC;
	border-radius: 25px !important;
	padding: 8px 25px;
}
/*! === // SECTION:: End Profile page design  // === !*/

/*! === // SECTION:: End Profile page design  // === !*/

.cwrite_sec {
	background: #1d5180;
	padding: 10px 0;
	margin-top: 3.5rem;
	position: relative;
}
.cwrite_sec p{
	color: #9b9b9b;
	font: 300 14px/28px 'Raleway', sans-serif;
	margin: 0px;
}
.cwrite_sec a {
	color: #FFF;
	font: 400 14px/28px 'Raleway', sans-serif;
}
/*! === // FOOTER:: End Footer // === !*/


/**** Sudeb 25.04.2020 ****/

.modal-backdrop.in {
	opacity: 0 !important;
}

.modal-backdrop {
	z-index: 0 !important;
}

.alert-msg {
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}


/*-==========================
         Inner Pages
============================*/

/*! === // PAGE:: End Contact // === !*/

/*! === // PAGE:: End Slider // === !*/





/*-==============================
		@media Stylesheet
================================*/

@media screen and (max-width:400px) {}
/*/ Extra small devices (portrait phones, less than 576px)*/

@media screen and (min-width:401px) and (max-width: 575.98px) {}

@media (max-width: 575.98px) {
	.common_wrap > .row > [class^="col"]{
		width: 100%;
	}
}
@media screen and (min-width:576px) and (max-width:767.98px) {}

@media screen and (max-width:767px) {
	/*! === // end COMMON // === !*/
	#nav_bg{ padding-bottom: 0px;}
	#nav_bg .navbar-header{
		padding: 0;
	}
	#nav_bg.navbar .navbar-toggle{ margin-top: -8px;}
	.ls-closed .bars::after, .ls-closed .bars::before{ top: 5px;}
	#nav_bg .navbar-nav{
		padding: 0px;
		margin: 0px;
	}
	#nav_bg .navbar-header .navbar-brand{
		padding: 2px 15px;
	}
	#nav_bg .navbar-header .navbar-brand,
	#nav_bg .navbar-right .media_src{
		display: block;
	}
	#nav_bg .navbar-header .navSrc_bar{ display: none;}

	/*! === // endHeader Sec // === !*/

	.user_logo{ display: none;}
	/*! === // end LeftSide Bar // === !*/

	.common_menu ul {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		overflow-x: auto;
		width: 100%;
		white-space: nowrap;
		position: relative;
		z-index: 1;
	}
}
@media screen and (min-width:768px) and (max-width:991.98px) {
	#nav_bg{ margin: 0px;}
	.ls-closed .bars::after, .ls-closed .bars::before {
		top: 15px;
	}
	#nav_bg .navbar-brand{ opacity: 1; padding: 5px 15px;}
	#nav_bg.stick .navbar { padding: 0;}
	.navSrc_bar{ margin-left: 45px;}
	.overlay-open .sidebar{
		top: 65px;
		height: calc(100vh - 65px);
		box-shadow: none;
	}
	/*! === // endHeader Sec // === !*/
}

@media screen and (min-width:1024px) {}

@media screen and (min-width:992px) and (max-width:1199.98px) {
	.ls-closed .bars::after, .ls-closed .bars::before {
		top: 15px;
	}
	.navSrc_bar {
		margin-left: 40px;
	}
	#nav_bg .navbar_right li{ margin-right: 15px;}
	#nav_bg .navbar_right > li > a{ font-size: 14px;}
}
@media screen and (min-width:1200px) {}
@media (min-width:1300px) and (max-width:1367px) {}
@media screen and (min-width:1500px) {}
@media screen and (min-width:2500px) {}


/* Style adjustments for high resolution devices */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}
/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}
/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {

}
/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

