<section class="sidebar_sec">
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="user_logo">
                <a href="#"><img src="/assets/img/logo.png" alt="..." class="img-responsive"></a>
            </div>
            <div class="media">
                <div class="media-left">
                    <div class="image">
                        <img src="/assets/img/user.png" width="48" height="48" alt="User" />
                    </div>
                </div>
                <div class="media-body">
                    <div class="info-container">
                        <div class="name">John Doe</div>
                        <div class="email"><span class="lnr lnr-map-marker"></span> john.doe@example.com</div>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><img src="/assets/img/edit_icon.svg" alt=""></span>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list list-unstyled">
                <li>
                    <div class="social_part" id="social_list">
                        <ul class="list-unstyled">
                            <li class="active">
                                <a href="#">
                                    <i class="material-icons"><img src="/assets/img/social_icon1.png" alt=""></i>
                                    <span>Homecooked</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="material-icons"><img src="/assets/img/social_icon2.png" alt=""></i>
                                    <span>Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="material-icons"><img src="/assets/img/social_icon3.png" alt=""></i>
                                    <span>Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="material-icons"><img src="/assets/img/social_icon4.png" alt=""></i>
                                    <span>YouTube</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="material-icons"><img src="/assets/img/social_icon5.png" alt=""></i>
                                    <span>Blog</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="material-icons"><img src="/assets/img/social_icon6.png" alt=""></i>
                                    <span>linkedIn</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="material-icons"><img src="/assets/img/social_icon7.png" alt=""></i>
                                    <span>Instagram</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="invite_chef">
                        <h5>Invite Chefs</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="email id or phone">
                            <span class="input-group-addon"><i class="material-icons">send</i></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="invite_part">
                        <h5>My Invitation</h5>
                        <ul class="list-unstyled">
                            <li class="media">
                                <div class="media-left">
                                    <div class="media-object">
                                        <img src="/assets/img/user.jpg">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6>Faucibus.</h6>
                                    <p>3Hrs ago</p>
                                </div>
                                <div class="media-right"><a href="#">Accept</a></div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <div class="media-object">
                                        <img src="/assets/img/user-lg.jpg">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6>Faucibus.</h6>
                                    <p>3Hrs ago</p>
                                </div>
                                <div class="media-right"><a href="#">Accept</a></div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <div class="media-object">
                                        <img src="/assets/img/user.png">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6>Faucibus.</h6>
                                    <p>3Hrs ago</p>
                                </div>
                                <div class="media-right"><a href="#">Accept</a></div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <div class="media-object">
                                        <img src="/assets/img/user.jpg">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6>Faucibus.</h6>
                                    <p>3Hrs ago</p>
                                </div>
                                <div class="media-right"><a href="#">Accept</a></div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <div class="media-object">
                                        <img src="/assets/img/user-lg.jpg">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6>Faucibus.</h6>
                                    <p>3Hrs ago</p>
                                </div>
                                <div class="media-right"><a href="#">Accept</a></div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <div class="media-object">
                                        <img src="/assets/img/user.png">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6>Faucibus.</h6>
                                    <p>3Hrs ago</p>
                                </div>
                                <div class="media-right"><a href="#">Accept</a></div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>