<aside class="sidebar_right">
    <div class="add_sec">
        <img src="assets/img/add1.jpg" alt="" class="img-responsive">
    </div>
    <div class="follow_chef">
        <h2>Follow Chefs <span class="pull-right"><!--<a href="#">View all</a>--></span></h2>
        <ul class="list-inline list-unstyled clearfix">
            <li *ngFor="let item of followVendors">
                <a title="{{item.full_name}}" (click)="followChef(item.id,item.full_name,item.profile_img);" href="javascript:void(0);" class="card-img"><img src="{{item.profile_img}}" alt=""></a>
            </li>
        </ul>
    </div>
    <hr class="divider">
    <div class="follow_chef">
        <h2>Following Chefs <span class="pull-right"><!--<a href="#">View all</a>--></span></h2>
        <ul class="list-inline list-unstyled clearfix">
            <li *ngFor="let item of followingVendors">
                <a title="{{item.follow_user_name}}" href="javascript:void(0);" class="card-img"><img src="{{item.follow_user_img}}" alt=""></a>
            </li>
        </ul>
    </div>
    <hr class="divider">
    <div class="follow_chef">
        <h2>Followed me <span class="pull-right"><a href="#">View all</a></span></h2>
        <ul class="list-inline list-unstyled clearfix">
            <li><a href="#" class="card-img"><img src="assets/img/user.jpg" alt=""></a></li>
            <li><a href="#" class="card-img"><img src="assets/img/user-lg.jpg" alt=""></a></li>
            <li><a href="#" class="card-img"><img src="assets/img/item_img1.jpg" alt=""></a></li>
        </ul>
    </div>
</aside>