<div role="tabpanel">
  <div class="common_cont">
      <div class="row">
          <div class="col col-xs-8 col-sm-8 col-lg-8">
              <div class="foodItem_sec">
                  <h2>My Food Listing</h2>
                  <div class="row">
                      <div class="col-sm-6 col-md-4" *ngFor="let item of foodItems">
                          <div class="thumbnail">
                              <div class="card-img">
                                  <img src="{{item.item_photo}}">
                                  <div class="view_btn">
                                      <div class="hover_btn">
                                          <a href="#" class="btn btn-default waves-effect">Edit</a>
                                          <a href="#" class="btn btn-default waves-effect">Delete</a>
                                      </div>
                                  </div>
                              </div>
                              <h3>{{item.item_name}} <span class="pull-right">{{item.item_currency}} {{item.item_price}}</span></h3>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-4">
                          <div class="card">
                              <a href="#" data-toggle="modal" data-target="#dishModal"><span><img src="assets/img/add_icon.png" alt=""></span> Add dish</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col col-xs-4 col-sm-4 col-lg-4">
              <app-rightbar></app-rightbar>
          </div>
      </div>
  </div>
</div>


<!-- Default Size -->
<div class="modal" id="dishModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Add Food Item</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="product_form">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Item Name</label>
								<input type="text" name="item_name" id="item_name" placeholder="Name of Item" required />
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Item Price ( Inclusive Tax )</label>
								<input type="text" name="item_price" id="item_price" placeholder="Item Price" required pattern="[+-]?([0-9]*[.])?[0-9]+" />
							</div>
						</div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="image-content" class="upload__img">
                                </div>
                            </div>
                        </div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Upload Image</label>
								<div class="upload-image upImg__box">
									<a href="javascript:void(0);" class="drag-box" id="upload_link">
										<img src="<?php echo SITE_URL;?>assets-dashboard/img/icons/upload.png" alt="">
									</a>
									<input type="file" name="upload_photo" id="upload_photo" style="display:none;" />
								</div>
								<!--<label class="my-1 mr-2">Upload Photo</label>
								<input type="file" name="upload_photo" id="upload_photo" class="form-control" required />-->									
							</div>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								<label>Item Description</label>
								<textarea class="form-control" rows="3" name="item_description" id="item_description" placeholder="Item Description" required></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Category</label>
								<select name="category_id" id="category_id" required>
								</select>
							</div>
						</div>
						<div class="col-md-6" style="display:none;">
							<div class="form-group">
								<label>Bulk Seller</label>
								<select name="bulk_seller" id="bulk_seller" required>
									<option value="N">No</option>
									<option value="Y">Yes</option>
								</select>
							</div>
						</div>
						<div class="col-md-6" style="display:none;">
							<div class="form-group">
								<label>Lead Time</label>
								<input type="text" name="lead_time" id="lead_time" required />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Cut Off Hours</label>
								<input type="time" name="cutoff_time" id="cutoff_time" min="00:00" max="24:00" required />
								<br>
								<p>(Gap Between Order Time and Starting Delivery Time)</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Publish Now</label>
								<select name="status" id="status" required>
									<option value="1">Yes</option>
									<option value="0">No</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="pricing">
									<h5 class="title--3 yellow-color"><span>Delivery Hours</span></h5>
								</div>
							</div>
						</div>


						<div class="col-md-12" id="hour_of_operation">
							<div class="form-group">
								<div class="row">
									<div class="col-md-4">
										<label class="my-1 mr-2">Open Days</label>
										<select name="open_days[]" id="open_days" class="form-control open_days" required>
											<option value="">--Select Days--</option>
											<option value="Sunday">Sunday</option>
											<option value="Monday">Monday</option>
											<option value="Tuesday">Tuesday</option>
											<option value="Wednesday">Wednesday</option>
											<option value="Thursday">Thursday</option>
											<option value="Friday">Friday</option>
											<option value="Saturday">Saturday</option>
										</select>
									</div>
									<div class="col-md-4">
										<label class="my-1 mr-2">Starting Hour</label>
										<select name="starting_hour[]" class="form-control starting_hour" required>
											<option value="0:00">0:00</option>
											<option value="0:30">0:30</option>
											<option value="1:00">1:00</option>
											<option value="1:30">1:30</option>
											<option value="2:00">2:00</option>
											<option value="2:30">2:30</option>
											<option value="3:00">3:00</option>
											<option value="3:30">3:30</option>
											<option value="4:00">4:00</option>
											<option value="4:30">4:30</option>
											<option value="5:00">5:00</option>
											<option value="5:30">5:30</option>
											<option value="6:00">6:00</option>
											<option value="6:30">6:30</option>
											<option value="7:00">7:00</option>
											<option value="7:30">7:30</option>
											<option value="8:00">8:00</option>
											<option value="8:30">8:30</option>
											<option value="9:00">9:00</option>
											<option value="9:30">9:30</option>
											<option value="10:00">10:00</option>
											<option value="10:30">10:30</option>
											<option value="11:00">11:00</option>
											<option value="11:30">11:30</option>
											<option value="12:00">12:00</option>
											<option value="12:30">12:30</option>
											<option value="13:00">13:00</option>
											<option value="13:30">13:30</option>
											<option value="14:00">14:00</option>
											<option value="14:30">14:30</option>
											<option value="15:00">15:00</option>
											<option value="15:30">15:30</option>
											<option value="16:00">16:00</option>
											<option value="16:30">16:30</option>
											<option value="17:00">17:00</option>
											<option value="17:30">17:30</option>
											<option value="18:00">18:00</option>
											<option value="18:30">18:30</option>
											<option value="19:00">19:00</option>
											<option value="19:30">19:30</option>
											<option value="20:00">20:00</option>
											<option value="20:30">20:30</option>
											<option value="21:00">21:00</option>
											<option value="21:30">21:30</option>
											<option value="22:00">22:00</option>
											<option value="22:30">22:30</option>
											<option value="23:00">23:00</option>
											<option value="23:30">23:30</option>
											<option value="24:00">24:00</option>
										</select>
									</div>
									<div class="col-md-4">
										<label>Closing Hour</label>
										<select name="closing_hour[]" class="form-control closing_hour" required>
											<option value="0:00">0:00</option>
											<option value="0:30">0:30</option>
											<option value="1:00">1:00</option>
											<option value="1:30">1:30</option>
											<option value="2:00">2:00</option>
											<option value="2:30">2:30</option>
											<option value="3:00">3:00</option>
											<option value="3:30">3:30</option>
											<option value="4:00">4:00</option>
											<option value="4:30">4:30</option>
											<option value="5:00">5:00</option>
											<option value="5:30">5:30</option>
											<option value="6:00">6:00</option>
											<option value="6:30">6:30</option>
											<option value="7:00">7:00</option>
											<option value="7:30">7:30</option>
											<option value="8:00">8:00</option>
											<option value="8:30">8:30</option>
											<option value="9:00">9:00</option>
											<option value="9:30">9:30</option>
											<option value="10:00">10:00</option>
											<option value="10:30">10:30</option>
											<option value="11:00">11:00</option>
											<option value="11:30">11:30</option>
											<option value="12:00">12:00</option>
											<option value="12:30">12:30</option>
											<option value="13:00">13:00</option>
											<option value="13:30">13:30</option>
											<option value="14:00">14:00</option>
											<option value="14:30">14:30</option>
											<option value="15:00">15:00</option>
											<option value="15:30">15:30</option>
											<option value="16:00">16:00</option>
											<option value="16:30">16:30</option>
											<option value="17:00">17:00</option>
											<option value="17:30">17:30</option>
											<option value="18:00">18:00</option>
											<option value="18:30">18:30</option>
											<option value="19:00">19:00</option>
											<option value="19:30">19:30</option>
											<option value="20:00">20:00</option>
											<option value="20:30">20:30</option>
											<option value="21:00">21:00</option>
											<option value="21:30">21:30</option>
											<option value="22:00">22:00</option>
											<option value="22:30">22:30</option>
											<option value="23:00">23:00</option>
											<option value="23:30">23:30</option>
											<option value="24:00">24:00</option>
										</select>
									</div>
								</div>
                            </div>
                            <div [innerHTML]="myHtml"></div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<a href="javascript:void(0);" (click)="addHour()" id="add-more-hour" class="btn light-btn">Add More</a>
							</div>
						</div>
					</div>
					<input type="hidden" name="delivery_radius" id="delivery_radius" class="form-control" />
					<input type="hidden" name="delivery_radius_unit" id="delivery_radius_unit" class="form-control" />
					<input type="hidden" name="delivery_service" id="delivery_service" class="form-control" />
					<input type="hidden" name="currency" id="currency" class="form-control" />

					<input type="hidden" name="item_photo" id="item_photo" class="form-control" value="https://www.thehomecooked.com/assets/img/food/no-image.jpg" />
					<input type="hidden" name="country" id="country" value="" />
					<input type="hidden" name="user_type" id="user_type" value="service_provider" />
					<input type="hidden" name="user_id" id="user_id" value="H9Y5x0aXZu53Jj35HW2R" />
					<input type="hidden" name="user_name" id="user_name" value="Sudeb Mukherjee" />
					<input type="hidden" name="category_name" id="category_name" value="" />
					<input type="hidden" name="service_provider_latitude" id="service_provider_latitude" value="" />
					<input type="hidden" name="service_provider_longitude" id="service_provider_longitude" value="" />
					<input type="hidden" name="product_id" id="product_id" value="" />
					<input type="hidden" name="btn_action" id="btn_action" />
					<input type="submit" name="action" id="action" class="btn btn-info form-btn" value="Save" />
				</form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>