<div role="tabpanel">
  <div class="reviews_sec">
      <h2>Customer Feedback</h2>
      <div class="review_part">
          <div class="row">
              <div class="col-md-5">
                  <div class="rating-block clearfix">
                      <h3>4.3</h3>
                      <h6>Based on 520 reviews</h6>
                      <div class="review-block-rate">
                          <ul class="list-inline clearfix">
                          <li type="button" class="list-inline-item">
                              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                          </li>
                          <li type="button" class="list-inline-item">
                              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                          </li>
                          <li type="button" class="list-inline-item">
                              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                          </li>
                          <li type="button" class="list-inline-item">
                              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                          </li>
                          <li type="button" class="list-inline-item">
                              <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                          </li>
                          </ul>
                      </div>
                      <div class="review_rang">
                          <ul class="list-unstyled">
                              <li class="clearfix">
                                  <div class="pull-left">
                                      <div class="pull-left" style="width:35px; line-height:1;">
                                          <div style="height:9px; margin:5px 0;">5 <i class="fa fa-star"></i>
                                          </div>
                                      </div>
                                      <div class="pull-left" style="width:180px;">
                                          <div class="progress" style="height:9px; margin:8px 0;">
                                              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                                                  <span class="sr-only">80% Complete (danger)</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="pull-right" style="margin-left:10px;">1</div>
                                  </div>
                              </li>
                              <li class="clearfix">
                                  <div class="pull-left">
                                      <div class="pull-left" style="width:35px; line-height:1;">
                                          <div style="height:9px; margin:5px 0;">4 <i class="fa fa-star"></i></div>
                                      </div>
                                      <div class="pull-left" style="width:180px;">
                                          <div class="progress" style="height:9px; margin:8px 0;">
                                              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                                                  <span class="sr-only">80% Complete (danger)</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="pull-right" style="margin-left:10px;">1</div>
                                  </div>
                              </li>
                              <li class="clearfix">
                                  <div class="pull-left">
                                      <div class="pull-left" style="width:35px; line-height:1;">
                                          <div style="height:9px; margin:5px 0;">3 <i class="fa fa-star"></i></div>
                                      </div>
                                      <div class="pull-left" style="width:180px;">
                                          <div class="progress" style="height:9px; margin:8px 0;">
                                              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                                                  <span class="sr-only">80% Complete (danger)</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="pull-right" style="margin-left:10px;">0</div>
                                  </div>
                              </li>
                              <li class="clearfix">
                                  <div class="pull-left">
                                      <div class="pull-left" style="width:35px; line-height:1;">
                                          <div style="height:9px; margin:5px 0;">2 <i class="fa fa-star"></i></div>
                                      </div>
                                      <div class="pull-left" style="width:180px;">
                                          <div class="progress" style="height:9px; margin:8px 0;">
                                              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                                                  <span class="sr-only">80% Complete (danger)</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="pull-right" style="margin-left:10px;">0</div>
                                  </div>
                              </li>
                              <li class="clearfix">
                                  <div class="pull-left">
                                      <div class="pull-left" style="width:35px; line-height:1;">
                                          <div style="height:9px; margin:5px 0;">1 <i class="fa fa-star"></i></div>
                                      </div>
                                      <div class="pull-left" style="width:180px;">
                                          <div class="progress" style="height:9px; margin:8px 0;">
                                              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                                                  <span class="sr-only">80% Complete (danger)</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="pull-right" style="margin-left:10px;">0</div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-7">
                  <div class="review-block">
                      <h4>Reviews</h4>
                      <div class="caption">
                          <div class="review-block-rate">
                              <ul class="list-inline clearfix">
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              </ul>
                          </div>
                          <div class="review-block-title">
                              Sudeb Mukherjee
                              <span class="review-block-date"> (08 Jan, 20) 09:00 AM</span>
                          </div>
                          <div class="review-block-description">
                              <p> this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</p>
                              <a href="#">Read more</a>
                          </div>
                      </div>
                      <hr/>
                      <div class="caption">
                          <div class="review-block-rate">
                              <ul class="list-inline clearfix">
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              </ul>
                          </div>
                          <div class="review-block-title">
                              Sudeb Mukherjee
                              <span class="review-block-date"> (08 Jan, 20) 09:00 AM</span>
                          </div>
                          <div class="review-block-description">
                              <p> this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</p>
                              <a href="#">Read more</a>
                          </div>
                      </div>
                      <hr/>
                      <div class="caption">
                          <div class="review-block-rate">
                              <ul class="list-inline clearfix">
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              </ul>
                          </div>
                          <div class="review-block-title">
                              Sudeb Mukherjee
                              <span class="review-block-date"> (08 Jan, 20) 09:00 AM</span>
                          </div>
                          <div class="review-block-description">
                              <p> this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</p>
                              <a href="#">Read more</a>
                          </div>
                      </div>
                      <hr/>
                      <div class="caption">
                          <div class="review-block-rate">
                              <ul class="list-inline clearfix">
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              <li type="button" class="list-inline-item">
                                  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                              </li>
                              </ul>
                          </div>
                          <div class="review-block-title">
                              Sudeb Mukherjee
                              <span class="review-block-date"> (08 Jan, 20) 09:00 AM</span>
                          </div>
                          <div class="review-block-description">
                              <p> this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</p>
                              <a href="#">Read more</a>
                          </div>
                      </div>
                      <div class="load_btn">
                          <a href="#" class="btn btn-primary">Load more</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>