<section class="common_wrap">
  <div class="tab-content">
      <div>
          <div class="common_cont">
              <div class="row">
                  <div class="col col-xs-8 col-sm-8 col-lg-8">
                      <div class="home_sec">
                          <div class="panel">
                              <div class="panel-body">
                                  <div class="panel-header">
                                      <div class="media">
                                          <div class="media-left">
                                              <div class="media-object">
                                                  <img src="assets/img/user.png" alt="...">
                                              </div>
                                          </div>
                                          <div class="media-body">
                                              <h2>Rahul Roy <span>update his awesome <a href="#">DISH</a></span></h2>
                                              <h6>6 hours ago</h6>
                                          </div>
                                          <div class="media-right">
                                              <div class="more_field">
                                                  <a href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                      <i class="material-icons">more_horiz</i>
                                                  </a>
                                                  <ul class="dropdown-menu">
                                                      <li><a href="#"><i class="material-icons">share</i>share</a></li>
                                                      <li><a href="#"><i class="lnr lnr-pushpin"></i>Pin To Group</a></li>
                                                      <li><a href="#"><i class="material-icons">clear</i>Hide</a></li>
                                                      <li><a href="#"><i class="lnr lnr-trash"></i>Delete</a></li>
                                                      <li><a href="#"><i class="fa fa-bell-slash-o"></i>Turn off notification</a></li>
                                                      <li><a href="#"><i class="material-icons">keyboard_arrow_down</i>More option</a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <p>Please note that even if you choose to stop receiving all emails, occasionally we may still need to send you important information about your account.</p>
                                  <div class="card-img">
                                      <img src="assets/img/item_img1.jpg" alt="" class="img-responsive">
                                  </div>
                                  <div class="review_coment">
                                      <div class="comment_meta">
                                          <ul class="list-inline clearfix">
                                              <li><a href="#"><span class="fa fa-thumbs-o-up"></span> 87</a></li>
                                              <li><a href="#"><span class="lnr lnr-bubble"></span> 20</a></li>
                                              <li><a href="#"><span class="fa fa-share-square-o"></span> 13</a></li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="comment_field">
                                      <div class="media">
                                          <div class="media-left">
                                              <div class="media-object">
                                                  <img src="assets/img/user.png" alt="...">
                                              </div>
                                          </div>
                                          <div class="media-body">
                                              <div class="input-group">
                                                  <input type="text" class="form-control" placeholder="what a beautiful dish you have made|">
                                                  <span class="input-group-addon">
                                                      <div class="custom_file">
                                                          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" accept="image/*;capture=camera">
                                                          <i class="material-icons">camera_alt</i>
                                                      </div>
                                                  </span>
                                                  <span class="input-group-addon">
                                                      <div class="smile_field">
                                                          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                                              <i class="fa fa-smile-o"></i>
                                                          </a>
                                                          <ul class="dropdown-menu">
                                                              <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                                              <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                                              <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                                          </ul>
                                                      </div>
                                                  </span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col col-xs-4 col-sm-4 col-lg-4">
                      <app-rightbar></app-rightbar>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>