<div role="tabpanel">
    <div class="common_cont">
        <div class="row">
            <div class="col col-xs-8 col-sm-8 col-lg-8">
                <div class="profile_sec">
                    <div class="imgUp_sec">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel">
                                    <div class="box" style="background-image: url(assets/img/photo_1.jpg);" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel">
                                    <div class="box" style="background-image: url('');" id="profImg_view">
                                    </div>
                                    <input type='file' id="imgInp" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profDetail_sec">
                        <div class="row">
                            <div class="col-sm-4"><h2>John Doe</h2></div>
                            <div class="col-sm-8">
                                <ul class="list-inline list-unstyled clearfix">
                                    <li>
                                        <h6><i class="material-icons">share</i> Share my profile:</h6>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/img/Image-5_13.png" alt="" class="img-fluid"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/img/Image-5_14.png" alt="" class="img-fluid"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/img/Image-5_15.png" alt="" class="img-fluid"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/img/Image-5_16.png" alt="" class="img-fluid"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/img/Image-5_17.png" alt="" class="img-fluid"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="rate_part">
                            <h6><i class="fa fa-star"></i> 4.8 <span>520 reviews</span></h6>
                        </div>
                        <div class="about_part">
                            <a href="#">About Me <span class="lnr lnr-pencil"></span></a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-xs-4 col-sm-4 col-lg-4">
                <app-rightbar></app-rightbar>
            </div>
        </div>
    </div>
</div>